USE [master]
GO
/****** Object:  Database [StudentData]    Script Date: 12/14/2024 4:30:27 PM ******/
CREATE DATABASE [StudentData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentData', FILENAME = N'D:\Microsoft SQL Server 2022 Express\Installed dir\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentData_log', FILENAME = N'D:\Microsoft SQL Server 2022 Express\Installed dir\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentData]
GO
/****** Object:  Table [dbo].[CHU_NHIEM]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU_NHIEM](
	[MaGV] [nchar](10) NULL,
	[MaLop] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAY]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAY](
	[MaGV] [nchar](10) NULL,
	[MaMon] [nchar](10) NULL,
	[MaLop] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MaHS] [nchar](10) NULL,
	[MaMon] [nchar](10) NULL,
	[HocKy] [int] NULL,
	[NamHoc] [nvarchar](50) NULL,
	[Mieng] [float] NULL,
	[15Phut] [float] NULL,
	[1Tiet] [float] NULL,
	[GiuaKy] [float] NULL,
	[CuoiKy] [float] NULL,
	[DiemTB] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MaGV] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NamSinh] [int] NULL,
	[MaTK] [nchar](10) NULL,
	[GioiTinh] [nchar](10) NULL,
 CONSTRAINT [PK_GIAO_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_KY]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_KY](
	[HocKy] [int] NOT NULL,
 CONSTRAINT [PK_HOC_KY] PRIMARY KEY CLUSTERED 
(
	[HocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_SINH]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_SINH](
	[MaHS] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NamSinh] [int] NULL,
	[HanhKiem] [nchar](10) NULL,
	[MaTK] [nchar](10) NULL,
	[MaLop] [nchar](10) NULL,
	[GioiTinh] [nchar](10) NULL,
 CONSTRAINT [PK_HOC_SINH] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOI]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOI](
	[Khoi] [nchar](10) NOT NULL,
 CONSTRAINT [PK_KHOI] PRIMARY KEY CLUSTERED 
(
	[Khoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP_HOC]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP_HOC](
	[Khoi] [nchar](10) NULL,
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nchar](10) NULL,
 CONSTRAINT [PK_LOP_HOC] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON_HOC]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_HOC](
	[MaMon] [nchar](10) NOT NULL,
	[TenMon] [nchar](10) NULL,
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAM_HOC]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAM_HOC](
	[NamHoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NAM_HOC] PRIMARY KEY CLUSTERED 
(
	[NamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU_HUYNH]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_HUYNH](
	[MaPH] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NamSinh] [int] NULL,
	[MaTK] [nchar](10) NULL,
	[GioiTinh] [nchar](10) NULL,
 CONSTRAINT [PK_PHU_HUYNH] PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 12/14/2024 4:30:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MaTK] [nchar](10) NOT NULL,
	[Password] [nchar](10) NULL,
	[IsQL] [int] NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHU_NHIEM]  WITH CHECK ADD  CONSTRAINT [FK_CHU_NHIEM_LOP_HOC] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAO_VIEN] ([MaGV])
GO
ALTER TABLE [dbo].[CHU_NHIEM] CHECK CONSTRAINT [FK_CHU_NHIEM_LOP_HOC]
GO
ALTER TABLE [dbo].[CHU_NHIEM]  WITH CHECK ADD  CONSTRAINT [FK_CHU_NHIEM_LOP_HOC1] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP_HOC] ([MaLop])
GO
ALTER TABLE [dbo].[CHU_NHIEM] CHECK CONSTRAINT [FK_CHU_NHIEM_LOP_HOC1]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_GIAO_VIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAO_VIEN] ([MaGV])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_GIAO_VIEN]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_LOP_HOC] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP_HOC] ([MaLop])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_LOP_HOC]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_LOP_HOC1] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP_HOC] ([MaLop])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_LOP_HOC1]
GO
ALTER TABLE [dbo].[DAY]  WITH CHECK ADD  CONSTRAINT [FK_DAY_MON_HOC] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON_HOC] ([MaMon])
GO
ALTER TABLE [dbo].[DAY] CHECK CONSTRAINT [FK_DAY_MON_HOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOC_KY] FOREIGN KEY([HocKy])
REFERENCES [dbo].[HOC_KY] ([HocKy])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOC_KY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOC_SINH] FOREIGN KEY([MaHS])
REFERENCES [dbo].[HOC_SINH] ([MaHS])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOC_SINH]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MON_HOC] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON_HOC] ([MaMon])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MON_HOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_NAM_HOC] FOREIGN KEY([NamHoc])
REFERENCES [dbo].[NAM_HOC] ([NamHoc])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_NAM_HOC]
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAO_VIEN_GIAO_VIEN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAI_KHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[GIAO_VIEN] CHECK CONSTRAINT [FK_GIAO_VIEN_GIAO_VIEN]
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD  CONSTRAINT [FK_HOC_SINH_LOP_HOC] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP_HOC] ([MaLop])
GO
ALTER TABLE [dbo].[HOC_SINH] CHECK CONSTRAINT [FK_HOC_SINH_LOP_HOC]
GO
ALTER TABLE [dbo].[HOC_SINH]  WITH CHECK ADD  CONSTRAINT [FK_HOC_SINH_TAI_KHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAI_KHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[HOC_SINH] CHECK CONSTRAINT [FK_HOC_SINH_TAI_KHOAN]
GO
ALTER TABLE [dbo].[LOP_HOC]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_KHOI] FOREIGN KEY([Khoi])
REFERENCES [dbo].[KHOI] ([Khoi])
GO
ALTER TABLE [dbo].[LOP_HOC] CHECK CONSTRAINT [FK_LOP_HOC_KHOI]
GO
ALTER TABLE [dbo].[PHU_HUYNH]  WITH CHECK ADD  CONSTRAINT [FK_PHU_HUYNH_TAI_KHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAI_KHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[PHU_HUYNH] CHECK CONSTRAINT [FK_PHU_HUYNH_TAI_KHOAN]
GO
USE [master]
GO
